body{

   font-family:"Microsoft YaHei";
   
}


header{

	width: 100%; height: 118px; background: #0d0d0e;
	position:relative;
	overflow: hidden;
}

footer{

	width: 100%; height: 233px; background: #0d0d0e;
	position:relative;
	text-align: center;
	overflow: hidden;
}


nav{	
	position:absolute;
	left:85%; 
	top:20%;
}


#Jbody{

	width: 100%; height: 600px;
	background-image:url("img/body.jpg"); background-size:cover;
	text-align: center;
	overflow:hidden;

}




#Junderbody{

	width: 100%; height: 600px;
	background-image:url("img/underbody.jpg");background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;
	overflow:hidden;
}


.bodylogo{

	margin: 54px 35%;

}



.leftbox{
	width: 50%; 
	height: 100%;
	float:left;
}


.rightbox{
	height: 100%;
	width: 50%;
	float:right;
}



.chat{
	
	position:absolute;
	left:40%;
	top:15%;

}

h3{
	text-align:center;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: normal;
    
    color: #646260;
    letter-spacing: 2px;
}


h2{
	font-size: 26px;
	color: #646260;
	letter-spacing: 4px;
	margin-bottom: 45px;
	font-weight: normal;
	
	text-align: center;
	margin-top:90px;
	margin-bottom: 10px;
}

li{

	font-size: 18px;
	
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 45px;

}


ul{

	margin:50px;
	list-style: none;
	padding-left: 0;


}




a{
	text-decoration:none;
}



p{
	margin: 50px;
	font-size: 18px;
	
	text-align: center;
	letter-spacing: 1px;
	
}

